<<<<<<< HEAD
/**
 * Footer
 * -----------------------------------------------------------------------------
 */

.footer {
  @include background(/*color,img*/);
  padding: 40px 20px 80px;
  a {
    color: $color--link;
    &:hover {
      color: $color--link-hover;
    }
    &:not(.icon) {
      border-bottom: 1px solid $color--border;
      &:hover {
        border-bottom-color: $color--link;
      }
    }
  }
=======
/**
 * Footer
 * -----------------------------------------------------------------------------
 */

.footer {
  @include background(/*color,img*/);
  padding: 40px 20px 80px;
  a {
    color: $color--link;
    &:hover {
      color: $color--link-hover;
    }
    &:not(.icon) {
      border-bottom: 1px solid $color--border;
      &:hover {
        border-bottom-color: $color--link;
      }
    }
  }
>>>>>>> 4c83aa12b542fdf78c76b207067e7423f523d1a1
}