/*  Footer style 

  Footer Background:
  0. Clean
  1. Background colored
  2. Background image

  Footer Border:
  0. Clean
  1. Top

  */

$footer_background_color: $footer_background_color;
$footer_background_image: $footer_background_image;

@mixin footer (
  $background: 0,
  $wide: 0
  ) {

  .root-footer {
    padding-top: 40px;
    text-align: center;

    @if $background > 0 {

      @if $background == 1 {
        background: $footer_background_color;
      } @else if $background == 2 {
        background: $footer_background_image;
      }

      @if $wide == 1 {
        position: relative;
        z-index: 1;
        &:before {
          content: " ";
          height: 100%;
          position: absolute;
          top: 0;
          width: 9999%;
          right: -100%;
          z-index: -1;
          @if $background == 1 {
            background: $footer_background_color;
          } @else if $background == 2 {
            background: $footer_background_image;
          }
        }
      }@else if $wide == left {
        position: relative;
        &:before {
          content: " ";
          height: 100%;
          position: absolute;
          top: 0;
          width: 9999%;
          right: 100%;
          @if $background == 1 {
            background: $footer_background_color;
          } @else if $background == 2 {
            background: $footer_background_image;
          }
        }
      }@else if $wide == right {
        position: relative;
        &:before {
          content: " ";
          height: 100%;
          position: absolute;
          top: 0;
          width: 9999%;
          left: 100%;
          @if $background == 1 {
            background: $footer_background_color;
          } @else if $background == 2 {
            background: $footer_background_image;
          }
        }        
      }

    }

  .logo {
    
  }
  .root-footer-top {

  }
  .root-footer-bottom {
    padding: 25px 0;
  }
  small {
  }
  .copyrigth {
      padding-top: 24px;    
  }
  }

}

@include footer($footer...);
/* .footer {

 
  a {
    color: $color_link;
    &:hover {
      color: $color_link_hover;
    }
    &:not(.icon) {
      border-bottom: 1px solid $color_border;
      &:hover {
        border-bottom-color: $color_link;
      }
    }
  }
} */