<<<<<<< HEAD

.section {
  background: white;
  padding: 40px 20px;
  & + .section {
    border-top: 1px solid rgba($border, 0.5);
  }
  @include desktop {
    padding: 40px 0;
    &.is-medium {
      padding: 120px 0;
    }
    &.is-large {
      padding: 240px 0;
    }
  }
}
=======

.section {
  background: white;
  padding: 40px 20px;
  & + .section {
    border-top: 1px solid rgba($border, 0.5);
  }
  @include desktop {
    padding: 40px 0;
    &.is-medium {
      padding: 120px 0;
    }
    &.is-large {
      padding: 240px 0;
    }
  }
}
>>>>>>> 4c83aa12b542fdf78c76b207067e7423f523d1a1
