<<<<<<< HEAD
// сделать кроссбраузерность по-примеру https://evo.business
.site {
	max-width: 75rem;
	width: 600px;
	margin: 0 auto;
=======
.site {
	max-width: 75rem;
	width: 600px;
	margin: 0 auto;
>>>>>>> 4c83aa12b542fdf78c76b207067e7423f523d1a1
}