/* Backgrounds
 * -------------------- */

$background:										$grey;

$header-background-img:				'../img/bg_pattern.jpg';
$body-background-img:					'../img/bg_pattern.jpg';
$footer-background-img:				'../img/footer-bg-solid.png';

$header-background-color:			$grey;
$body-background-color:				$white;
// $footer-background-color:			$grey;