/* Base colors
 * -------------------- */

$white:													#fcfcfc;
$black:													#222;

$grey_darker:										#222324;
$grey_dark:											#69707a;
$grey:													#aeb1b5;
$grey_light:										#d3d6db;
$grey_lighter:									#f5f7fa;

$blue:													#42afe3;
$green:													#97cd76;
$orange:												#f68b39;
$purple:												#847bb9;
$red:														#ed6c63;
$antonia:												#1fc8db;
$yellow:												#fce473;

$color_text:										$grey_dark;
$text_strong:										$grey_darker;
$text_light:										$grey;

// Brand Colors
$primary_color:									#9e338c;
$secondary_color:								#c62c20;

// Elements
$color_banner_widget:						$grey_lighter;

// Alert Colors
$success_color:									$green;
$warning_color:									$red;
$error_color:										$orange;
$footer_font_color:							$grey_dark;
$header_font_color:							$grey_lighter;

// Social Colors
$color_facebook:								#03539e;
$color_twitter:									#35ccff;
$color_linkedin:								#217bc1;

$body-background-color: $white;
$footer_background_color: $antonia;
$body-border: $antonia;