<<<<<<< HEAD
// Miscellaneous
$easing:												ease-out;
$speed:													86ms;
$radius:												3px;
=======
// Miscellaneous
$easing:												ease-out;
$speed:													86ms;
$radius:												3px;
>>>>>>> 4c83aa12b542fdf78c76b207067e7423f523d1a1
