<<<<<<< HEAD
/**
 * Typography. Font sizes and spacing/widths
 * -----------------------------------------------------------------------------
 */

/* Font familys
 * -------------------- */

$family-sans-serif:							"Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace:							"Source Code Pro", "Monaco", "Inconsolata", monospace;
$family-serif:									'Georgia', 'Times New Roman', Times, serif;

$font-family--primary:          'Open Sans', sans-serif;
$font-family--secondary:        'Oranienbaum', serif;

/* Font sizes
 * -------------------- */

$size-1:												48px;
$size-2:												40px;
$size-3:												28px;
$size-4:												24px;
$size-5:												18px;
$size-6:												16px;
$size-7:												11px;
/* Alternate -------------------------- */
$size-huge:											$size-1;
$size-large:										$size-3;
$size-medium:										$size-5;
$size-normal:										$size-6;
$size-small:										$size-7;

$weight-title-normal:						300;
=======
/**
 * Typography. Font sizes and spacing/widths
 * -----------------------------------------------------------------------------
 */

/* Font familys
 * -------------------- */

$family-sans-serif:							"Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace:							"Source Code Pro", "Monaco", "Inconsolata", monospace;
$family-serif:									'Georgia', 'Times New Roman', Times, serif;

$font-family--primary:          'Open Sans', sans-serif;
$font-family--secondary:        'Oranienbaum', serif;

/* Font sizes
 * -------------------- */

$size-1:												48px;
$size-2:												40px;
$size-3:												28px;
$size-4:												24px;
$size-5:												18px;
$size-6:												16px;
$size-7:												11px;
/* Alternate -------------------------- */
$size-huge:											$size-1;
$size-large:										$size-3;
$size-medium:										$size-5;
$size-normal:										$size-6;
$size-small:										$size-7;

$weight-title-normal:						300;
>>>>>>> 4c83aa12b542fdf78c76b207067e7423f523d1a1
$weight-title-bold:							700;