/**
 * Set Your Defaults:
 * -----------------------------------------------------------------------------

 Templates:
 @import 'tmplates/fl'

 */

$a-z: 1;

$body: (
	background: 0,	// types: 0, 1, 2
	border: $a-z				// types: 0, 1
	);
$root: (
	frame: 0				// types: 0, 1, >0
	);

$footer: (
  background: 0,	// types: 0, 1, 2
  wide: 0,				// types: 0, 1, left, right
  color: $grey		// types:
  );

// MEdia Query
$xl:2000px; // for sumo sized (mac) screens 
$l:1440px; // styles for browsers larger than 1440px;
$m:960px; // styles for browsers larger than 960px;
$s:480px; // styles for mobile browsers smaller than 480px; (iPhone)
/* different techniques for iPad screening */
$short: 481px;
$long: 1024px;