/**
 * Set Your Defaults:
 * -----------------------------------------------------------------------------
 */

// Layout
$body-background-color: $antonia;
$body-background-image: '../img/bg.jpg';
$body-border: $antonia;