// Layout

$body-background-color: $white;
$body-background-image: url(../img/bg.jpg);
$body-border: $antonia;
$body: (
	background: 2,	// types: 0, 1, 2
	border: 0				// types: 0, 1
	);
$root: (
	frame: 1				// types: 0, 1, >0
	);

$footer_background_color: $antonia;
$footer_background_image: url(../img/bg.jpg);
$footer: (
  background: 0,	// types: 1, 2
  wide: 0,				// types: 1, left, right
  color: $grey		// types:
  );

// MEdia Query
$l:1200px;
$m:768px;
$s:320px;