<<<<<<< HEAD
// Code

$code:																	$red;
$code-background:												$background;

$pre:																		$color--text;
=======
// Code

$code:																	$red;
$code-background:												$background;

$pre:																		$color--text;
>>>>>>> 4c83aa12b542fdf78c76b207067e7423f523d1a1
$pre-background:												$background;