<<<<<<< HEAD
$color-link:										#9a8566;
$color-link-hover:							darken($color--link, 10%);
$color-link-hover-border:				$grey-darker;
$color-link-hover-background:		$grey-lighter;
$color-link-visited:						$purple;

$color-link-active:							$grey-darker;
$color-link-active-border:			$grey-darker;


/* $text-invert:										findColorInvert($color--text);
=======
$color-link:										#9a8566;
$color-link-hover:							darken($color--link, 10%);
$color-link-hover-border:				$grey-darker;
$color-link-hover-background:		$grey-lighter;
$color-link-visited:						$purple;

$color-link-active:							$grey-darker;
$color-link-active-border:			$grey-darker;


/* $text-invert:										findColorInvert($color--text);
>>>>>>> 4c83aa12b542fdf78c76b207067e7423f523d1a1
$color--link-invert:						findColorInvert($color--link); */